<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>InstaPanel</display-name>
  <welcome-file-list>
    <welcome-file>Submit.html</welcome-file>
    <welcome-file>IDK.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list> 
  
  <filter>
<filter-name>struts2</filter-name>
	<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>struts2</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
  
 <!--  <servlet>
  <servlet-name>test</servlet-name>
  <servlet-class>com.insta.servlets.TestSevlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>test</servlet-name>
   <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>storeComment</servlet-name>
  <servlet-class>com.insta.servlets.StoreComments</servlet-class>
  
  <init-param>
  <param-name>dbUrl</param-name>
  <param-value>mysql:jdbc:vodka</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>storeComment</servlet-name>
   <url-pattern>/sc</url-pattern>
   
  </servlet-mapping>
  
  <context-param>
  <param-name>dbUrl</param-name>
  <param-value>mysql:jdbc:smirnoff</param-value>
  
  </context-param> -->
  
</web-app>